//layout -----------------------
.cf {
	margin: 0;
	padding: 0;
}

.layout {
	padding: 1px 0;
	@include container;
	@include clearfix();


}

// paginas

.paginas {

	position: relative;

	.content-a {
		padding: 0;
	}

	.cabecera {
		width: 100%;
		//position: absolute;
		position: relative;
		z-index: 6;
	}

}

.fondo_verde {
	height: 100%;
	background: {
	  image: image-url("fondo.jpg");
	  repeat: no-repeat;
	  position: top left;
	};

	@include background-size(cover);
}

.green {
	background: $green;
	margin: 0;
	padding: 0;
}

// main ul



// header ----------------------


// navigation


// body
  


// nivo extra

.nivo-caption {
	li {
		margin:0;
		padding:0;
		@include transition-duration(2s);
  		@include transition-timing-function(ease-in);
	}

	a {
		color: $white;
		width: 30%;
		// fixtext


		&.active {

			color: $neongreen;
			font-size: 2.1em;
			width: 50%;
			// fixtext: 
			//font-weight: bold;
		}

		&:hover {
			font-weight: bold;

		}
	}

}


.nivo-directionNav {
	.fa {
		color: $white;
		font-size: 1.5em;
	}
}

.slider_container {
	position: relative;
}

// quienes somos

.quienes-somos {
	.entry-content{
		color: $white;
		background: $green;
		margin: 0;
		padding-top: 4%;
		padding-bottom: 5%;
		font-size: .8em;
		line-height: normal;
	}

	.layout {
		margin: 0 14%;
	}

	.izq {
		@include span(1 of 3);
		img {
			width: 80%;
			margin-top: 40%;
		}

	}

	.der {
		@include span(2 of 3 at 2);
		padding-top: 3%;
	}

	.footer {
		margin-top: 3%;
		margin-bottom: 3%;
	}

}

.eventos-de-empresa {
	.entry-content{
		color: $black;
		background: $white;
		margin: 0;
		padding-top: 4%;
		padding-bottom: 5%;
		font-size: .8em;
		line-height: normal;
		text-align: justify;
	}

	.centro .nav {
		li a {
			display: inline-block;
			float: left;
			font-size: 2em;
			color: $gray;
			width: 45px
		}
	}

	hr {
		margin-bottom: 15px;
	}

	img {
		width: 100%;
	}

	h2 {
		text-align: center;
		margin: 1%;
		color: $grey;
		text-transform: uppercase;
	}

	h3 {
		font-weight: bold;
		color: $grey;
	}

	.layout {
		margin: 0 14%;
	}

	.izq {
		@include span(2 of 5);
		padding-top: 0;

	}

	.centro {
		@include span(1 of 5 at 3);
		padding-top: 10%;
	}

	.der {
		@include span(2 of 5 at 4);
		padding-top: 0;
	}

	.footer {
		margin-top: 3%;
		margin-bottom: 3%;
	}

	.eventos-nav {
		height: 177px;

		ul {
			width: 800px;
			margin-left: auto;
			margin-right: auto;
		}

		a {
			display: inline-block;
			height: 140px;
			width:  184px;
			float: left;
			text-align: center;
			cursor: pointer;
			color: $grey;
			background: {
			  image: image-url("eventos_nav.jpg");
			  repeat: no-repeat;
			  position-y: 26px;
			};


			&:hover {

				background-position-y: -118px;
				color: $white;
				span {
					display: block;
					background: $blue;
				};
			}
		}

		li:nth-of-type(1) {

			a {
				width: 226px;
			}	

		}

		li:nth-of-type(2) {

			a {
				background-position-x: -255px;
			}	

		}

		li:nth-of-type(3) {

			a {
				background-position-x: -460px;
			}	

		}

		li:nth-of-type(4) {

			a {
				background-position-x: -673px;
			}	

		}

	}
}

.formacion {

	.cabecera {
		position: relative;
	}

	section {
		background: $paleryellow;
		text-align: center;

	}
	li a {
		color: $grey;
	}

	.box_container {
		//@include container;
		width: 100%;
		display: table;
		//img { width: 100% }

		.inner {
			display: table-row;
		}
		

		.uno {
			//margin: 0;
			display: table-cell;
			background: $green;
		/*	background: {
			  image: image-url("formacion_left.jpg");
			  repeat: no-repeat;
			  position: top left;
			}; */

			//@include background-size(cover);
			
		}

		.der {
			margin: 0;
			
		}
	} //box_container

	.nav-formacion {
		height: 480px;
		display: table;
		width: 100%;
		color: $white;


		.uno {
			display: table-cell;
			height: 100%;
			background: $black;
			background: {
			  image: image-url("formacion_left.jpg");
			  repeat: no-repeat;
			  position: top left;
			}; 

			@include background-size(cover);
		}

		ul {
			display: table-cell;
			margin: 0;
			padding:0;
			//width: 100%;
			height: 100%;
			

			li a {
				display: block;
				width: 100%;
				height: 100%;
				//border: 1px solid $paleryellow;
				
			}


			li { 
				position: relative;
				cursor: pointer;
				display: inline-block;
				width: 100%;
				float: left;
				height: 35%;
				margin: 0;
				padding: 0;
				background: {
				  image: image-url("training_fondo_1.jpg");
				  repeat: no-repeat;
				  position: top left;
				};

				@include background-size(cover);

				&:hover {
					a {

						@include background(rgba($red, .6));

					}

					span {

						visibility: visible;
					}
				}
			} // end li


			li:nth-of-type(1) {
				margin-top: 0;
				
			}

			li:nth-of-type(2) {
				background-image: image-url("training_fondo_2.jpg");
			}

			li:nth-of-type(3) {
				width: 50%;
				height: 30%;
				background-image: image-url("training_fondo_3.jpg");
			}

			li:nth-of-type(4) {
				width: 50%;
				height: 30%;
				background-image: image-url("training_fondo_4.jpg");
			}

			span {
				position: absolute;
				color: $white;
				text-align: middle;
				font-weight: bold;
				font-size: 1.7em;
				visibility: hidden;
				top: 30%;
			}
		} //end ul
	} // end nav formacion

	div.layout {
		margin: 0 14%;

		span {
			color: $grey;
			font-size: .9em;
		}
	}

	.izq {
		@include span(2 of 5);
		padding-top: 0;

	}

	.centro {
		margin: 0 auto;
		padding-top: 10%;
	}

	.der {
		@include span(2 of 5 at 4);
		padding-top: 0;
	}

	.centro .nav {
		li a {
			display: inline-block;
			float: left;
			font-size: 1.2em;
			color: $gray;
			width: 45px
		}
	}
} // formacion

/* fullscreen setup */
	html, body{
	    /* give this to all tags from html to .fullscreen */
	    height:100%;
}

.instalaciones {
	// Variables
	$green: #71b104;
	/* background setup */
	.background {
	    background-repeat:no-repeat;
	    /* custom background-position */
	    background-position:50% 50%;
	    /* ie8- graceful degradation */
	    background-position:50% 50%\9 !important;
	}

	
	.fullscreen,
	.content-a {
	    width:100%;
	    min-height:100%;
	}
	.not-fullscreen,
	.not-fullscreen .content-a,
	.fullscreen.not-overflow,
	.fullscreen.not-overflow .content-a {
	    height:100%;
	    overflow:hidden;
	}

	/* content centering styles */
	.content-a {
		display:table;
	}
	.content-b {
		display:table-cell;
	    position:relative;
		vertical-align:middle;
		text-align:center;
		background: none;
	}

	/* visual styles */
	body{
	    margin:0;
	    font-family:sans-serif;
	    font-size:1em;
	    line-height:1.5em;
		color:#ffffff;
	    text-align:center;
	}

	section {
		background:$green;
	}
	.not-fullscreen {
	    height:50%;
	}

	/* personalización */

	p {
		font-size: .7em;
		color: $white;
		line-height: 1.4em;
	}

	.hola {
		margin-right: 30%;
		margin-left: 30%;
		text-align: justify;

		h2 {
			font-size: 4em;
			color: $white;
			text-align: center;
			line-height: 2em;
		}
	}

	.insta {
		margin-right: 0;
		margin-left: 52%;
		padding-right: 0;
		text-align: justify;

		h2 {
			font-size: 1.6em;
			color: $white;
			float: right;
			line-height: 1.2em;
			@include background(rgba($green, .9));
			padding-left: 3%;
			padding-right: 30%;
			text-transform: uppercase;
			font-weight: bold;
		}

		section {
			clear:both;
			@include background(rgba($black, .7));
			padding-top: 2%;
			padding-bottom: 2%;
			padding-left: 3%;
			padding-right: 30%;
		}

	}

	.avent {
		margin-right: 0;
		margin-left: 0;
		text-align: justify;

		.logo {
			width: 320px;
			margin: 0 auto;
			padding-bottom: 10px;
		}

		a {
			color: $green;
			text-align: center;
			display: block;
			font-size: .8em;
		}

		section {
			clear:both;
			@include background(rgba($black, .4));
			padding-top: 2%;
			padding-bottom: 2%;
			padding-left: 33%;
			padding-right: 33%;
		}

	}

	.como {
		margin-right: 0;
		margin-left: 0;
		text-align: center;


		h2 {
			font-size: 2.1em;
			color: $white;
			line-height: 1.2em;
			font-weight: bold;
			margin-bottom: 5px
		}

		a {
			color: $blue;
			text-align: center;
			display: block;
			font-size: 1em;
			letter-spacing: .5em;
		}

		section {
			clear:both;
			margin: 2% 0;
			@include background(rgba($black, .6));
			padding-top: 6%;
			padding-bottom: 6%;
			padding-left: 3%;
			padding-right: 3%;
			letter-spacing: .2em;
		}

	} // como

	.otros {
		margin-right: 0;
		margin-left: 0;
		text-align: center;

		img {
			 width: 113px;
		}


		h2 {
			font-size: 2.1em;
			color: $white;
			line-height: 1.2em;
			font-weight: bold;
			text-align: center;
		}

		.restauracion {
			clear:both;
			width: 100%;
			@include background($white);
			margin: 2% auto;
			padding-top: 2%;
			padding-bottom: 2%;
			padding-left: 0;
			padding-right: 0;

			p {
				color: $green;
				text-align: justify;
			}


			img {
				width: 113px;
			}

			section {
				@include background($white);
			}
		}

		section {
			text-align: center;
			color: white;
			width: 50%;
			margin: 2% auto;
		}

	} // otros

	// Metodo experiencial

	.exper {
		margin-right: 0;
		margin-left: 0;
		text-align: justify;


		h2 {
			font-size: 1.7em;
			color: $white;
			line-height: 1.2em;
			font-weight: bold;
			text-align: center;
			display: block;
			// fixtext
		}

		h3 {
			font-size: 1.3em;
			color: $green;
			line-height: 1.6em;
			display: block;
			font-weight: bold;
			text-align: center;
			float: right;
			background: {
				  image: image-url("fondo_white_btn.png");
				  repeat: no-repeat;
				  position: top left;
				};

			@include background-size(cover);
		}

		p {
			clear: both;
		}

		.columnas {
			@include columns(10em 2);
		}


		section {
			clear:both;
			@include background(rgba($black, .4));
			padding-top: 1%;
			padding-bottom: 1%;
			padding-left: 3%;
			padding-right: 3%;
			margin: 5% 0;  

			&.sub {
				padding-left: 35%;
				padding-right: 35%;
				height: 100%;
			}
		}

		.tabla {
			background: $green;
		}

		.bxslider {
			margin: 0;
			padding: 10px;

		}

		.bx-wrapper  {

			.bx-viewport {
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: none;
			left: 0;
			background: $green;
			}
		}
 
		li > span {
			display: block;
			//height: 340px;
			margin: 0 20%;
		}


	} //exper

	.bg {
		background: {
				  image: image-url("metodo_paralax_3.jpg");
				  repeat: no-repeat;
				  position: top left;
				};

				@include background-size(cover);
	}

	.border {

		border-top: 5px solid $green;
		border-bottom: 5px solid $green;
	}

	li:nth-of-type(1) h3{
		float: left;

	}

	li:nth-of-type(4) {
		background: $black;
	}

	.blanco {
		background: $white;
	} 
	
} // instalaciones


.equipo {


	h2 {
		font-size: 1.3em;
		font-weight: bold;
		text-align: center;
		color: $red;
	}

	p {
		font-size: .9em;
		color: $gray;

	}

	section {
		background: $white;

		.layout{
			height: 300px;
			text-align: justify;
			@include background(rgba($gray, .1));
			border-top: 1px solid $red;
			padding: 5% 22%;

		} 

	}

	.listado {

		display: block;
		width: 720px;
		height: auto;
		margin: 0 auto;

		li {

			display: block;
			width: 33%;
			margin: 0;
			padding: 0;
			float: left;

			

			&:nth-of-type(4) {
				background: $white;
			}

			a {
				display: block;
				width: 100%;
				color: $gray;

			}

			span {
				display: block;

			}

			.nombre {
					font-size: 1.2em;
				}

			.puesto {
					font-size: .6em;
				}


			img {
				width: 90%;
				@include border-radius(50%);
				margin-bottom: 33px;
				margin-top: 14px;
			}

		} // listado li

	} //listado



	.izq{
		@include span(4 of 12);
		margin: auto;
		height: 100%;
	} 

	.der {
		@include span(6 of 12 last)
	}

	
} //equipo


// css especifico de cada pagina en elementos comunes

.metodo-experiencial {
	.cabecera {
		background: $green;
	}
}

.equipo {
	.cabecera {
		background: $white;

		h1 {
			color: $grey;
		}
	}


	.nav_superior .nav li a {
		color: $gray;
	}
} //equipo

.clientes {
	color: $white;
	width: 100%;
	text-align: center;
	font-size: .7em;
	line-height: 1.4em;
	margin-left: 55%;


	ul {
		height:400px; 
		width:28%;
		overflow: hidden;
		overflow-y:scroll;
		@include background(rgba($black,.4));
		@include border-radius(5%);
		padding: 15px;
	}

} // clientes

section.tabla {
	display: table;
	background: $green;

	p {
		display: table-row;

		
	}

	span {

		display: table-cell;
		border: 1px solid transparent;
		margin: 0 5px;
		@include border-image( image-url("borde.png") 2 13 3 9 repeat );		
		padding: 5px;
		font-size: .8em;
	}
}


// nuevo pagina 

header {
	position: absolute;
	width: 100%;
}

footer {
	height: 30%;

}

.pagina {
	height: 100%;
	
	.fullscreen,
	.content-a {
		    width:100%;
		    min-height:100%;
		}
	.not-fullscreen,
	.not-fullscreen .content-a,
	.fullscreen.not-overflow,
	.fullscreen.not-overflow .content-a {
	    height:100%;
	    overflow:hidden;
	}

	/* content centering styles */
	.content-a {
		display:table;
	}
	.content-b {
		display:table-cell;
	    position:relative;
		vertical-align:middle;
		text-align:center;
		background: none;
		}
	.not-fullscreen {
	    height:50%;
	}

}

.kick-off .content-b {

	$main_color: #fd8117;
	// orange  

	.section-wrap {
		position: relative;

	}

	h1 {

		display: block;
		width: 50%;
		@include background(rgba($black, .7));
		position: relative;
		left: 0;
		text-align: right;
		color: $white;
		font-size: 1.6em;
		font-weight: bold;
		line-height: 1.7em;
		padding: 0 5px;
		margin: 0;
		text-transform: none;

	}

	h2 {
		display: block;
		width: 100%;
		@include background(rgba($main_color, .7));
		text-align: center;
		padding: 5px 0;
		color: $white;
		line-height: 1.6em;
		font-size: 1em;
		font-weight: bold;
		margin: 0;
	}

	.first {
		color: $white;
		section {
			@include background(rgba($black, .7));
			width: 60%;
			margin: 0 auto;
			padding: 2% 6% 4%;
		}

		padding-bottom: 5%;

		
	}

	p {
		color: $white;
		text-align: justify;
		font-size: .7em;
		line-height: 1em;

	}

	.second {
		padding: 10% 0;


		h2 {
			color: $paleryellow;
			font-size: 1.2em;
			font-weight: bold;
			text-align: center;
			background: none;
		}
	}

	.third {


		h2 {
			@include background(rgba($black, .7));
		}

	}



} //kick-off

.fondo_blanco {

	font-size: 1.3em;
	line-height: 1.6em;
	display: block;
	font-weight: bold;
	//text-align: right;
	//float: right;
	background: {
		  image: image-url("fondo_white_btn.png");
		  repeat: no-repeat;
		  position: top left;
		};

	@include background-size(cover);
	margin-bottom: 10px;

}

.fondo_full {
	background-size: cover;
}

.mejorate {
	$main_color: #fd8117;
	// orange  
	border-top: 2px solid $main_color;
	
}

.meeting {
	width: 50%;
	margin: 0 auto;
	section {
		margin: 10% auto;
	}

	h3 {
		color: $kick-off;
	}	
}