//layout -----------------------

// movil solo, movil no

.movil {
	display: block;

}

.nomovil {
	display: none;
}

@include breakpoint($smallscreen){
	.movil {
		display: none;
	}

	.nomovil {
		display: block;
	}
}
.cf {
	margin: 0;
	padding: 0;
}


.layout {
	@include single-transition(all, 1s, ease-out);
	padding: 1px 0;
	@include container;
	max-width: 990px;
	min-width: 320px;
	@include clearfix();


}



.home {
	.layout {
		max-width: 100%;
	}
}

// paginas

.paginas {

	position: relative;

	.content-a {
		padding: 0;
	}

	.cabecera {
		width: 100%;
		//position: absolute;
		position: relative;
		z-index: 6;

	}

}

.fondo_verde {
	height: 100%;
	background: {
	  image: image-url("fondo.jpg");
	  repeat: no-repeat;
	  position: top left;
	};

	@include background-size(cover);
}

.green {
	background: $green;
	margin: 0;
	padding: 0;
}

// main ul



// .layer ----------------------


// navigation


// body
  


// nivo extra

.nivo-caption {
	li {
		margin:0;
		padding:0;
		@include transition-duration(2s);
  		@include transition-timing-function(ease-in);
	}

	a {
		color: $white;
		width: 30%;
		// fixtext


		&.active {

			color: $neongreen;
			font-size: 2.1em;
			width: 50%;
			// fixtext: 
			//font-weight: bold;
		}

		&:hover {
			font-weight: bold;

		}
	}

}


.nivo-directionNav {
	.fa {
		color: $white;
		font-size: 1.5em;
	}
}

.slider_container {
	position: relative;
}

// quienes somos

.quienes-somos {
	.entry-content{
		color: $white;
		background: $green;
		margin: 0;
		padding-top: 4%;
		padding-bottom: 5%;
		font-size: .8em;
		line-height: normal;
		text-align: justify;
	}

	.layout {
		margin: 0 14%;
	}

	.izq {
		@include span(1 of 3);
		img {
			width: 80%;
			margin-top: 70px;
		}

	}

	.der {

		@include breakpoint($smallscreen) {
			@include span(2 of 3 at 2);
			padding-top: 3%;
		}
	}

}




.formacion {
	header {
		position: absolute;
		background: $paleryellow;
	}

	.cabecera {
		position: relative;
		background: $paleryellow;
	}

	section {
		background: $paleryellow;
		text-align: center;

	}

	.nav_superior {
		h1 {
			color: $grey;
		}
		.nav {
			.fa {
				color: $grey;
			}
		} // nav

	}// nav-superior

	.grey_background {
		display: block;
		width: 245px;
		height: 60px;
	    background: {
			  image: image-url("fondo_gris_borde.png");
			  repeat: no-repeat;
			  position: top left;
			}; 
		@include background-size(cover);
		text-align: center;
		font-size: 1em;
		text-transform: uppercase;
		padding: 10px 0 5px 0;
		margin-left: 60%;
		margin-bottom: 25px;

	}

	.box_container {
		//@include container;
		width: 100%;
		display: table;
		//img { width: 100% }

		.inner {
			display: table-row;
		}
		

		.uno {
			//margin: 0;
			display: table-cell;
			background: $green;
		/*	background: {
			  image: image-url("formacion_left.jpg");
			  repeat: no-repeat;
			  position: top left;
			}; */

			//@include background-size(cover);
			
		}

		.der {
			margin: 0;
			
		}

	} //box_container

	.nav-formacion {
		height: 100%;
		display: table;
		width: 100%;
		color: $white;

		.wrap-actividades {
			width: 60%;
			margin-top: 25%;
			@include background(rgba($black, .6));

			h3 {
				margin: 0 0 0 20%;
				color: $paleryellow;
				text-transform: uppercase;
				font-size: 1em;
				text-align: right;
				padding: 15px 15px 0 0;
				line-height: .2em;

			}

			h2 {
				font-weight: bold;
				font-size: 2.2em;
				margin: 0 0 0 20%;
				color: $white;
				text-align: right;
				padding: 5px 15px 5px 0;
			}

		} // wrap-actividades

		.wrap-formacion {
				width: 65%;
				padding: 10px 15px 10px 0;
				@include background(rgba($multiaventura, .7));
				
				p {
					font-weight: bold;
					font-size: 1.2em;
					margin: 0 0 0 10%;
					color: $white;
					text-align: right;
					
				}
		} // formacion

		.wrap-texto {
			width: 100%;
			@include background(rgba($black, .6));
			p {
				margin: 0 auto;
				padding: 5px  120px;
				min-width: 300px;
				font-size: .6em;
				line-height: 1.2em;
				max-width: 660px;
			}
			padding: 30px 0;
		}



		.uno {
			display: table-cell;
			height: 100%;
			width: 50% ;
			background: $black;
			background: {
			  image: image-url("formacion_left.jpg");
			  repeat: no-repeat;
			  position: top left;
			}; 
			border-right: 1px solid $paleryellow;

			@include background-size(cover);
		}

		ul {
			display: table-cell;
			margin: 0;
			padding:0;
			//width: 100%;
			height: 100%;
			

			li a {
				display: block;
				width: 100%;
				height: 100%;
				border-bottom: 1px solid $paleryellow;
				
			}


			li { 
				position: relative;
				cursor: pointer;
				display: inline-block;
				width: 100%;
				float: left;
				height: 35%;
				margin: 0;
				padding: 0;
				background: {
				  image: image-url("training_fondo_1.jpg");
				  repeat: no-repeat;
				  position: top left;
				};

				@include background-size(cover);

				&:hover {
					a {

						@include background(rgba($red, .6));

						span {
						  background: {
						  image: image-url("boton_ir_30.png");
						  repeat: no-repeat;
						  position: 50% 20%;
						};

						}

					}

					span {

						visibility: visible;
					}
				}
			} // end li


			li:nth-of-type(1) {
				margin-top: 0;
				
			}

			li:nth-of-type(2) {
				background-image: image-url("training_fondo_2.jpg");
			}

			li:nth-of-type(3) {
				width: 50%;
				height: 30%;
				background-image: image-url("training_fondo_3.jpg");

				a {
					border-right: 1px solid $paleryellow;
				}
			}

			li:nth-of-type(4) {
				width: 50%;
				height: 30%;
				background-image: image-url("training_fondo_4.jpg");
			}

			span {
				position: absolute;
				color: $white;
				text-align: center;
				font-weight: bold;
				font-size: 1.7em;
				visibility: hidden;
				top: 30%;
				display: block;
				width: 100%;
				height: 100%;
			}
		} //end ul
	} // end nav formacion

	div.layout {
		margin: 0 14%;

		span {
			color: $grey;
			font-size: .9em;
		}
	}

	.second {
		width: 100%;
		background: $paleryellow;
		padding: 20px 0;
		color: $grey;
		line-height: 1.1;
		span {
			text-align: center;
			display: block;
			font-size: .7em;
		}

		p {
			font-size: .7em;
			text-align: justify;
			padding-bottom: 3px;
			line-height: 1.4em;
		}

		figure {
			font-weight: bold;
			font-size: .9em;
			text-align: justify;
			padding-bottom: 5px;

		}
	}

	.section-wrap {
		@include container;
		margin: 20px 0;
	}

	.izq {
		width: 45%;
		float: left;
		padding-top: 0;

	}

	.der {
		width: 45%;
		float: right;
		padding-top: 0;
	}

	.wrap {
		width: 100%;
		padding: 5px 0;
		clear: both;

		h3 {
			font-size: .9em;
			color: $grey;
			text-align: center;
			display: block;
			padding-bottom: 10px;
		}

	}

	.contacto {
		width: 160px;
		height: 68px;
		margin: 0 auto;

		
		a {
			display: inline-block;
			width: 50px;
			height: 50px;


		}

		a:nth-of-type(1) {
			background: image-url('contacto_gris_160.png') no-repeat 0 0;
			
		}

		a:nth-of-type(2) {
			background: image-url('contacto_gris_160.png')  no-repeat -59px 0;
		}

		a:nth-of-type(3) {
			background: image-url('contacto_gris_160.png') no-repeat -113px 0;
		}

		a:hover {
			background-position-y: -1px; 
		}
		

	} // contacto

} // formacion

/* fullscreen setup */
	html, body{
	    /* give this to all tags from html to .fullscreen */
	    height:100%;
}

.instalaciones {
	// Variables
	$green: #71b104;
	/* background setup */
	.background {
	    background-repeat:no-repeat;
	    /* custom background-position */
	    background-position:50% 50%;
	    /* ie8- graceful degradation */
	    background-position:50% 50%\9 !important;
	}

	
	.fullscreen,
	.content-a {
	    width:100%;
	    min-height:100%;
	}
	.not-fullscreen,
	.not-fullscreen .content-a,
	.fullscreen.not-overflow,
	.fullscreen.not-overflow .content-a {
	    height:100%;
	    overflow:hidden;
	}

	/* content centering styles */
	.content-a {
		display:table;
	}
	.content-b {
		display:table-cell;
	    position:relative;
		vertical-align:middle;
		text-align:center;
		background: none;
	}

	/* visual styles */
	body{
	    margin:0;
	    font-family:sans-serif;
	    font-size:1em;
	    line-height:1.5em;
		color:#ffffff;
	    text-align:center;
	}

	section {
		background:$green;
	}
	.not-fullscreen {
	    height:50%;
	}

	/* personalización */

	p {
		font-size: .7em;
		color: $white;
		line-height: 1.4em;
	}

	.hola {
		margin-right: 30%;
		margin-left: 30%;
		text-align: justify;

		h2 {
			font-size: 4em;
			color: $white;
			text-align: center;
			line-height: 2em;
		}
	}

	.insta {
		margin-right: 0;
		margin-left: 52%;
		padding-right: 0;
		text-align: justify;

		h2 {
			font-size: 1.6em;
			color: $white;
			float: right;
			line-height: 1.2em;
			@include background(rgba($green, .9));
			padding-left: 3%;
			padding-right: 30%;
			text-transform: uppercase;
			font-weight: bold;
		}

		section {
			clear:both;
			@include background(rgba($black, .7));
			padding-top: 2%;
			padding-bottom: 2%;
			padding-left: 3%;
			padding-right: 30%;
		}

	}

	.avent {
		margin-right: 0;
		margin-left: 0;
		text-align: justify;

		.logo {
			width: 320px;
			margin: 0 auto;
			padding-bottom: 10px;
		}

		a {
			color: $green;
			text-align: center;
			display: block;
			font-size: .8em;
		}

		section {
			clear:both;
			@include background(rgba($black, .4));
			padding-top: 2%;
			padding-bottom: 2%;
			padding-left: 33%;
			padding-right: 33%;
		}

	}

	.como {
		margin-right: 0;
		margin-left: 0;
		text-align: center;


		h2 {
			font-size: 2.1em;
			color: $white;
			line-height: 1.2em;
			font-weight: bold;
			margin-bottom: 5px
		}

		a {
			color: $blue;
			text-align: center;
			display: block;
			font-size: 1em;
			letter-spacing: .5em;
		}

		section {
			clear:both;
			margin: 2% 0;
			@include background(rgba($black, .6));
			padding-top: 6%;
			padding-bottom: 6%;
			padding-left: 3%;
			padding-right: 3%;
			letter-spacing: .2em;
		}

		p {
			display: block;
			text-align: center;
			text-indent: 0;
		}

	} // como

	.otros {
		margin-right: 0;
		margin-left: 0;
		text-align: center;

		img {
			 width: 113px;
		}


		h2 {
			font-size: 2.1em;
			color: $white;
			line-height: 1.2em;
			font-weight: bold;
			text-align: center;
		}

		.restauracion {
			clear:both;
			width: 100%;
			@include background($white);
			margin: 2% auto;
			padding-top: 2%;
			padding-bottom: 2%;
			padding-left: 0;
			padding-right: 0;

			p {
				color: $green;
				text-align: justify;
			}


			img {
				width: 113px;
			}

			section {
				@include background($white);

				h3 {
					color: $green;
				}
			}
		}

		section {
			text-align: center;
			color: white;
			width: 40%;
			margin: 2% auto;

			h3 {

				color: $white;
				padding-bottom: 10px;
				font-weight: bold;
			}
		}

	} // otros

	// Metodo experiencial

	.exper {
		margin-right: 0;
		margin-left: 0;
		text-align: justify;


		h2 {
			font-size: 1.7em;
			color: $white;
			line-height: 1.2em;
			font-weight: bold;
			text-align: center;
			display: block;
			// fixtext
		}

		h3 {
			font-size: 1.3em;
			color: $green;
			line-height: 1.6em;
			display: block;
			font-weight: bold;
			text-align: center;
			float: right;
			min-width: 353px;
			padding: 5px 5px;
			margin-bottom: 25px;
			background: {
				  image: image-url("fondo_blanco_border.png");
				  repeat: no-repeat;
				  position: top left;
				};

			@include background-size(cover);
		}

		p, figure {
			clear: both;
		}

		.columnas {
			@include columns(20em 2);
		}


		section {
			clear:both;
			@include background(rgba($black, .4));
			padding-top: 1%;
			padding-bottom: 1%;
			padding-left: 3%;
			padding-right: 3%;
			margin: 5% 0;  

			&.sub {
				padding-left: 30%;
				padding-right: 30%;
				height: 420px;
				padding-top: 10%;
			}
		}
		.tabla {
			background: $green;
		}

		.bxslider {
			margin: 0;
			// padding: 10px;

		}

		.bx-wrapper  {

			.bx-viewport {
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: none;
			left: 0;
			background: $green;
			}
		}
 
		li > span {
			display: block;
			margin: 0 auto;
			width: 80%;
			max-width: 1024px;
		}

		.wrap {
			@include container;
			color: $white;

			p {
				color: $white;
			}
		}

		.nombre {
			@include span(4 of 12);
			position: relative;
			.vcentrar {
				margin-top: 110px;
			}
			h1 {
				font-size: 2.1em;
				background: none;
				color: $white;
				text-align: center;
				margin: 0;
				padding: 0;
				width: 100%;
				font-weight: thin;
				display: block;
			}
			h4 {
				font-size: .6em;
				text-transform: capitalize;
				text-align: center;
				width: 100%;
				margin: 0;
				padding: 0;
			}
		}

		.historia {
			@include span(4 of 12 at 5);
			font-size: .7em;
			line-height: 1.5em;
			padding-top: 10px;
		}

		.telefono {
			color: $white;
			@include span(4 of 12 last);
			margin-top: 90px;
			padding-left: 40px;
			

			.nav {
				@include horizontal-list;

				.fa {
					color: $equipo_grey;
					font-size: 1.8em;
				}
			}

			.email {
				display: block;
				width: 50px;
				height: 50px;
				margin-right: 10px;
			
				a {
					display: block;
					width: 50px;
					height: 50px;
					background: {
					  image: image-url("sobre_contacto_blanco.png");
					  repeat: no-repeat;
					  position: 50%;
					};
				}
			}

			.num {
				display: block;
				height: 60px;
				width: 200px;
				background: {
				  image: image-url("phone_icon_white.png");
				  repeat: no-repeat;
				  position: top left;
				};

				padding-left: 25px;
				font-size: 1.4em;


			}
			.mas_info {
				@include horizontal-list;
				margin-top: 10px;
				.num {
					display: block;
					height: 60px;
					background: {
					  image: image-url("phone_icon_white.png");
					  repeat: no-repeat;
					  position: top left;
					};

					padding-left: 28px;
					font-size: 1.4em;
				}
			}
		}

	} //exper

	.bg {
		background: {
				  image: image-url("metodo_paralax_3.jpg");
				  repeat: no-repeat;
				  position: top left;
				};

				@include background-size(cover);
	}

	.border {

		border-top: 5px solid $green;
		border-bottom: 5px solid $green;
	}

	li:nth-of-type(1) h3{
		// float: left;

	}

	li:nth-of-type(4) {
		// background: $black;
	}

	.blanco {
		background: $white;
	} 
	
} // instalaciones


.equipo {



	h2 {
		font-size: 1.3em;
		font-weight: bold;
		text-align: center;
		color: $red_equipo;
	}

	p {
		font-size: .9em;
		color: $grey;

	}

	section {
		background: $white;

		.layout{
			height: 300px;
			text-align: justify;
			@include background(rgba($grey, .1));
			border-top: 1px solid $red_equipo;
			padding: 5% 22%;

		} 

	}

	.listado {

		display: block;
		width: 720px;
		height: auto;
		margin: 0 auto;

		li {

			display: block;
			width: 33%;
			margin: 0 0 40px 0;
			padding: 0;
			float: left;

			

			&:nth-of-type(4) {
				background: $white;
			}

			a {
				display: block;
				width: 214px;
				color: $grey;
				@include border-radius(50%);
				height: 214px;
				background: $equipo_grey;
				margin-top: 10px;

			}

			a:hover {

				background: {
				  image: image-url("equipo_info.png");
				  repeat: no-repeat;
				  color: $equipo_grey2;
				  position: 50% 50%;
				};

			}

			span {
				display: block;
				color: $grey;
				text-transform: uppercase; 

			}

			.nombre {
					font-size: 1.2em;
				}

			.puesto {
					font-size: .6em;
				}


			img {
				width: 90%;
				@include border-radius(50%);
				margin-bottom: 33px;
				margin-top: 14px;
			}

		} // listado li

	} //listado



	.izq{
		@include span(3 of 10);
		margin: auto;
		height: 100%;

		.info {
			display: block;
			text-align: center;
			img {
				width: 160px;
			}
		}
	} 

	.der {
		@include span(7 of 10 last);
		padding: 20px 50px;

		h2 {
			margin-bottom: 15px;
		}
	}

	.nombres h2 {
		margin: 24px auto;
		background: black;
		padding: 10px;
		width: 250px;
		background: $red_equipo;
		color: $white;
		font-weight: normal;
	}

	.info_equipo {
		background: $equipo_grey;
		border-top: 1px solid $red_equipo;
		padding: 20px 0;
		height: 440px;

		p {
			font-size: .7em;
		}

		img {
			width: 100%;
			margin-top: 50px;
		}

		
	} // info_equipo
	
} //equipo

// contacto
.contacto {
	width: 160px;
	height: 68px;
	margin: 0 auto;
	
	a {
		display: inline-block;
		width: 50px;
		height: 50px;


	}

	a:nth-of-type(1) {
		background: image-url('contacto_gris_160.png') no-repeat 0 0;
		
	}

	a:nth-of-type(2) {
		background: image-url('contacto_gris_160.png')  no-repeat -59px 0;
	}

	a:nth-of-type(3) {
		background: image-url('contacto_gris_160.png') no-repeat -113px 0;
	}

	a:hover {
		background-position-y: -1px; 
	}
	
	span {
		display: block;
		text-align: center;
		font-size: .7em;
	}

} // contacto

.informacion {
	border: none;

	h2 {
		// color: $blue;
		border:  none;
		text-transform: none;
		display: block;
		text-align: center;
	}

	.wrap {
		width: 100%;
		margin: 0 auto;

		span {
			display: block;
			text-align: center;
			font-size: .7em;
		}
	}
} // informacion

// css especifico de cada pagina en elementos comunes

.metodo-experiencial {
	.cabecera {
		background: $green;
	}

	.info_box{
		background: $green;

	}

	.informacion {
		h2,span {
			color: $white;
		}
	}

	.contacto {
		a:nth-of-type(1) {
			background: image-url('contacto_blanco_160.png') no-repeat 0 0;
			
		}

		a:nth-of-type(2) {
			background: image-url('contacto_blanco_160.png')  no-repeat -59px 0;
		}

		a:nth-of-type(3) {
			background: image-url('contacto_blanco_160.png') no-repeat -113px 0;
		}

		a:hover {
			background-position-y: -1px; 
		}
	} //contacto
} // metodo

.equipo {
	.cabecera {
		background: $white;

		h1 {
			color: $grey;
		}

		.fa {
			color: $grey;
		}
	}


	.nav_superior .nav li a {
		// color: $grey;  Para cambiar colores de 
	}
	h2.gracias_clientes {
		display: block;
		width: 300px;
		height: 100px;
		text-align: center;
		color: $white;
		font-weight: bold;
		font-size: 2.7em;
		margin-left: 55%;
	}

	h3.confiaron {
		font-size: 1.8em;
		font-weight: bold;
		color: $white;
		text-align: left;
		padding-left: 50px;
	}
} //equipo



.clientes {
	color: $white;
	text-align: center;
	font-size: .7em;
	line-height: 1.4em;
	margin-left: 55%;

	height:450px; 
	width:305px;
	@include background(rgba($black,.4));
	@include border-radius(5%);
	padding: 15px;


} // clientes

.tabla {
	clear: both;
	display: table;
	background: $green;

	p {
		display: table-row;

		
	}

	span, li {
		border: 1px solid transparent;
		margin: 0 5px;
		@include border-image( image-url("borde.png") 2 13 3 9 repeat );		
		padding: 5px;
		font-size: .7em;
		color: $white;
	}
}


// nuevo pagina 

header {
	position: absolute;
	width: 100%;
	z-index: 15;
}

footer {
	height: 30%;

	nav {
		width: 200px;
		margin: 0 auto;

		@include breakpoint($smallscreen) {
			width: 100%;
		}
	}

}

.pagina {
	height: 100%;
	
	.fullscreen,
	.content-a {
		    width:100%;
		    min-height:100%;
		}
	.not-fullscreen,
	.not-fullscreen .content-a,
	.fullscreen.not-overflow,
	.fullscreen.not-overflow .content-a {
	    height:100%;
	    overflow:hidden;
	}

	/* content centering styles */
	.content-a {
		display:table;
		//@include background(rgba($black, .2));
	}
	.content-b {
		display:table-cell;
	    position:relative;
		vertical-align:middle;
		text-align:center;
		background: none;
		}
	.not-fullscreen {
	    height:50%;
	}

}

.content-b {
	header {
		position: relative;
		z-index: 5;
	}
}

.kick-off .content-b {

	$main_color: #fd8117;
	// orange  

	.section-wrap {
		position: relative;

	}

	h1 {

		display: block;
		width: 50%;
		position: relative;
		left: 0;
		text-align: left;
		color: $white;
		font-size: 1.6em;
		font-weight: bold;
		line-height: 1.7em;
		padding: 0 5px;
		margin: 0;
		text-transform: none;

	}

	h2 {
		display: block;
		width: 100%;
		@include background(rgba($main_color, .7));
		text-align: center;
		padding: 5px 0;
		color: $white;
		line-height: 1.6em;
		font-size: 1em;
		font-weight: bold;
		margin: 0;
	}

	.first {
		color: $white;
		section {
			@include background(rgba($black, .7));
			width: 55%;
			margin: 0 auto;
			padding: 2% 6% 4%;
		}

		padding-bottom: 5%;

		
	}

	p {
		color: $white;
		text-align: justify;
		font-size: .7em;
		line-height: 1.4em;

	}

	.second {
		padding: 10% 0;


		h2 {
			color: $paleryellow;
			font-size: 1.2em;
			font-weight: bold;
			text-align: center;
			background: none;
		}
	}
	.shadow {

		width: 45%;
		position: absolute;
		height: 52px;
		left: 0;
		@include background(rgba($black, .7));

	}




} //kick-off content-b

.kick-off {
	background-color: $kick-off;

	.fourth {
		background: $kick-off;
		color: $white;
		text-align: center;
		border: none;
		position: relative;
		top: -4px;
		padding: 3% 0 1%;

		h2 {
			text-transform: uppercase;
			text-align: center;
			color: $white;

		}


	}

	.eventos-nav {
		height: 277px;

		ul {
			width: 85%;
			margin-left: auto;
			margin-right: auto;
			min-width: 778px;
		}

		li {
			display: inline-block;
		}

		a {
			display: inline-block;
			//float: left;
			text-align: center;
			cursor: pointer;
			color: $white;
			background: image-url("kickoff-menu.png") no-repeat 0 0;
			width: 204px;
			height: 204px;
			margin-right: 22px;
			font-size: .7em;
			padding-top: 41px;

			&:hover {

				background: image-url("kickoff-menu.png") no-repeat 0 -263px;
				width: 204px;
				height: 204px;
				color: $kick-off;
				span {
					background: none;
				}
			}

			span {
				background: none;
			}
		}

		li:nth-of-type(1) {

			a {
				width: 204px;
			    height: 204px;
			}	

		}

		li:nth-of-type(2) {

			a {
				background-position-x: -248px;
			}	

		}

		li:nth-of-type(3) {

			a {
				background-position-x: -497px;
				margin-right: 0;

			}	

		}



	}  // eventos nav kick off

	.end {
		background: $white;
		color: $kick-off;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 4% 0;

		h2 {
			font-weight: bold;
			color: $kick-off;

		}

		span {
				font-size: .5em;
		}


		.contacto {
			width: 200px;
			height: 68px;
			margin: 0 auto;
			
			a {
				display: inline-block;
				width: 60px;
				height: 60px;


			}

			a:nth-of-type(1) {
				background: image-url('contacto_naranja.png') no-repeat 0 0;
				
			}

			a:nth-of-type(2) {
				background: image-url('contacto_naranja.png')  no-repeat -71px 0;
			}

			a:nth-of-type(3) {
				background: image-url('contacto_naranja.png') no-repeat -142px 0;
			}

			a:hover {
				background-position-y: -1px; 
			}
			

		}


	}
} // kick-off


.fondo_blanco {

	font-size: 1.3em;
	line-height: 1.6em;
	display: block;
	font-weight: bold;
	//text-align: right;
	//float: right;
	background: {
		  image: image-url("fondo_white_btn.png");
		  repeat: no-repeat;
		  position: top left;
		};

	@include background-size(cover);
	margin-bottom: 10px

}

.fondo_team {
	background: {
		  image: image-url("team_atm_titulo.png");
		  repeat: no-repeat;
		  position: top left;
		};

	@include background-size(cover);
}

.fondo_full {

	background-size: cover;
}

.mejorate {
	$main_color: #fd8117;
	// orange  
	border-top: 2px solid $main_color;
	
}

.meeting {
	width: 50%;
	margin: 0 auto;
	section {
		margin: 10% auto;
	}

	h3 {
		color: $kick-off;
	}

}

footer .social {
	margin-left: auto;
	margin-right: auto;
	// max-width: 33%;
	min-width: 200px;
	font-size: 2rem;
}

footer .logo {
	img {
		width: 210px;
	}
}

footer {
	padding-top: 31px;
}

// multiaventura start

.multiaventura .content-b {

	// orange  

	.section-wrap {
		position: relative;

	}

	h1 {

		display: block;
		width: 50%;
		position: relative;
		left: 0;
		text-align: left;
		color: $white;
		font-size: 1.6em;
		font-weight: bold;
		line-height: 1.7em;
		padding: 0 5px;
		margin: 0;
		text-transform: none;

	}

	h2 {
		display: block;
		width: 100%;
		@include background(rgba($multiaventura, .7));
		text-align: center;
		padding: 5px 0;
		color: $white;
		line-height: 1.6em;
		font-size: 1em;
		font-weight: bold;
		margin: 0;
	}

	.first {
		color: $white;
		section {
			@include background(rgba($black, .7));
			width: 90%;
			margin: 0 auto;
			padding: 2% 6% 4%;
		}

		padding-bottom: 5%;

		
	}

	.third {
		h2 {

			@include background(rgba($black, .4));
			padding: 2% 0;

		}

		h1 {
			color: $kick-off;
			font-size: 2.1em;
			text-align: center;
			margin: 0 auto;
			display: block;
		}
	}



	p {
		color: $white;
		text-align: justify;
		font-size: .9em;
		line-height: 1.4em;

	}

	.second {
		padding: 10% 0;


		h2 {
			color: $white;
			font-size: 1.2em;
			font-weight: bold;
			text-align: right;
			background: none;
		}

		span {
			text-align: right;
			font-size: .8em;
			text-style: oblique; 
			display: block;
		}
	}

	.shadow {

		width: 45%;
		position: absolute;
		height: 52px;
		left: 0;
		@include background(rgba($black, .7));

	}




} //multiaventura content-b

.multiaventura {
	background-color: $multiaventura;

	.vuela {
		background: $multiaventura;
		color: $white;
		padding: 5% 0;
		background: image-url('multiaventura_atm_blue.png') no-repeat 0 -1px;
	 	@include background-size(cover);



		h3 {
			color: $multiaventura;
			text-align: center;

			&.big {
				font-size: 1.6em;
			}
		}

		p {
			font-size: .7em;
			line-height: 1.4em;
			margin:2px 5px;
		}

		.section-wrap {
			text-align: justify;
			@include container();

			section {
				@include gallery(1 of 2);

				&:nth-of-type(1) {
					border-right: 1 solid $white;
				}
			}
		}

	}


	.fourth {
		background: $multiaventura;
		color: $white;
		text-align: center;
		border: none;
		position: relative;
		top: -4px;
		padding: 3% 0 1%;

		h2 {
			text-transform: uppercase;
			text-align: center;
			color: $white;

		}


	}
	.desafio {
		border-top: 2px solid $white;
	}

	.eventos-nav {
		height: 277px;

		ul {
			width: 85%;
			margin-left: auto;
			margin-right: auto;
			min-width: 778px;
		}

		li {
			display: inline-block;
		}

		a {
			display: inline-block;
			//float: left;
			text-align: center;
			cursor: pointer;
			color: $white;
			background: image-url("multiaventura-menu.png") no-repeat 0 0;
			width: 204px;
			height: 204px;
			margin-right: 22px;
			font-size: .7em;
			padding-top: 29px;

			&:hover {

				background: image-url("multiaventura-menu.png") no-repeat 0 -263px;
				width: 204px;
				height: 204px;
				color: $multiaventura;

				span {
					background: none;
				}
			}

			span {
				background: none;
			}
		}

		li:nth-of-type(1) {

			a {
				width: 204px;
			    height: 204px;
			}	

		}

		li:nth-of-type(2) {

			a {
				background-position-x: -248px;
			}	

		}

		li:nth-of-type(3) {

			a {
				background-position-x: -497px;
				margin-right: 0;

			}	

		}


	}  // eventos nav multiaventura

	.end {
		background: $multiaventura;
		color: $white;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 4% 0;

		h2 {
			font-weight: bold;
			color: $multiaventura;

		}

		span {
				font-size: .5em;
		}


		.contacto {
			width: 200px;
			height: 68px;
			margin: 0 auto;
			
			a {
				display: inline-block;
				width: 60px;
				height: 60px;


			}

			a:nth-of-type(1) {
				background: image-url('contacto_blanco.png') no-repeat 0 0;
				
			}

			a:nth-of-type(2) {
				background: image-url('contacto_blanco.png')  no-repeat -71px 0;
			}

			a:nth-of-type(3) {
				background: image-url('contacto_blanco.png') no-repeat -142px 0;
			}

			a:hover {
				background-position-y: -1px; 
			}
			

		}


	} // end fin

	.columnas {
		@include columns(10em 2);
	}
} // multiaventura fin

// teamevent start

.teamevent .content-b {

	// orange  

	.section-wrap {
		position: relative;

	}

	h1 {

		display: block;
		width: 50%;
		position: relative;
		left: 68%;
		text-align: left;
		@include background(rgba($black, .5));
		color: $white;
		font-size: 1.6em;
		font-weight: bold;
		line-height: 1.7em;
		padding: 0 10px;
		margin-top: 28%;
		margin-bottom: 0;
		text-transform: none;

	}

	h2 {
		display: block;
		width: 100%;
		@include background(rgba($teamevent, .8));
		text-align: center;
		padding: 5px 0;
		color: $black;
		line-height: 1.6em;
		font-size: 1em;
		font-weight: bold;
		margin: 0;
	}

	.first {
		color: $white;
		section {
			@include background(rgba($black, .7));
			width: 55%;
			margin: 0 auto;
			padding: 2% 6% 4%;
		}

		padding-bottom: 5%;

		
	}

	.third {
		h2 {

			@include background(rgba($black, .4));
			padding: 2% 0;

		}

		h1 {
			color: $kick-off;
			font-size: 2.1em;
			text-align: center;
			margin: 0 auto;
			display: block;
		}
	}



	p {
		color: $white;
		text-align: justify;
		font-size: .7em;
		line-height: 1em;

	}

	.second {
		padding: 10% 0;


		h2 {
			color: $white;
			font-size: 1.2em;
			font-weight: bold;
			text-align: right;
			background: none;
		}

		span {
			text-align: right;
			font-size: .8em;
			text-style: oblique; 
			display: block;
		}
	}
	.shadow {

		width: 45%;
		position: absolute;
		height: 52px;
		left: 0;
		@include background(rgba($black, .7));

	}




} //teamevent content-b

.teamevent {
	background-color: $teamevent;

	.descubre {
		background: $black;
		color: $white;
		padding: 5% 0;


		h3 {
			color: $teamevent;
			text-align: center;
			margin-bottom: 10px;
			padding: 6px;
			font-weight: bold;
			&.big {
				font-size: 1.9em;
				color: $black;
			}
		}

		p {
			font-size: .7em;
			line-height: 1.4em;
			margin:2px 5px;
		}

		.section-wrap {
			text-align: justify;
			@include container();

			section {
				@include gallery(1 of 2);


			}
		}

	}


	.fourth {
		background: $teamevent;
		color: $white;
		text-align: center;
		border: none;
		position: relative;
		top: -4px;
		padding: 3% 0 1%;

		h2 {
			text-transform: uppercase;
			text-align: center;
			color: $black;

		}


	}
	.desafio {
		border-top: 2px solid $white;
	}

	.eventos-nav {
		height: 277px;

		ul {
			width: 85%;
			margin-left: auto;
			margin-right: auto;
			min-width: 778px;
		}

		li {
			display: inline-block;
		}

		a {
			display: inline-block;
			//float: left;
			text-align: center;
			cursor: pointer;
			color: $black;
			background: image-url("teamevent-menu.png") no-repeat 0 0;
			width: 204px;
			height: 204px;
			margin-right: 22px;
			font-size: .7em;
			padding-top: 29px;

			&:hover {

				background: image-url("teamevent-menu.png") no-repeat 0 -263px;
				width: 204px;
				height: 204px;
				color: $teamevent;

				span {
					background: none;
				}
			}

			span {
				background: none;
			}
		}

		li:nth-of-type(1) {

			a {
				width: 204px;
			    height: 204px;
			}	

		}

		li:nth-of-type(2) {

			a {
				background-position-x: -250px;
			}	

		}

		li:nth-of-type(3) {

			a {
				background-position-x: -495px;
				margin-right: 0;

			}	

		}


	}  // eventos nav teamevent

	.end {
		background: $black;
		color: $white;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 4% 0;

		h2 {
			font-weight: bold;
			color: $teamevent;

		}

		span {
				font-size: .5em;
		}


		.contacto {
			width: 200px;
			height: 68px;
			margin: 0 auto;
			
			a {
				display: inline-block;
				width: 60px;
				height: 60px;


			}

			a:nth-of-type(1) {
				background: image-url('contacto_blanco.png') no-repeat 0 0;
				
			}

			a:nth-of-type(2) {
				background: image-url('contacto_blanco.png')  no-repeat -71px 0;
			}

			a:nth-of-type(3) {
				background: image-url('contacto_blanco.png') no-repeat -142px 0;
			}

			a:hover {
				background-position-y: -1px; 
			}
			

		}


	} // end fin

	.columnas {
		@include columns(10em 2);
	}
} // teamevent fin

// gynkana start

.gynkana .content-b {

	// orange  

	.section-wrap {
		position: relative;

	}

	h1 {

		display: block;
		width: 62%;
		position: relative;
		left: 38%;
		text-align: left;
		@include background(rgba($black, .5));
		color: $white;
		font-size: 2em;
		font-weight: bold;
		line-height: 1.7em;
		padding: 0 10px;
		margin-top: 8%;
		margin-bottom: 0;
		text-transform: none;

	}

	h2 {
		display: block;
		width: 100%;
		@include background(rgba($gynkana, .8));
		text-align: center;
		padding: 5px 0;
		color: $white;
		line-height: 1.7em;
		font-size: 1em;
		font-weight: bold;
		margin: 0;
	}

	.first {
		color: $white;
		section {
			@include background(rgba($black, .7));
			width: 55%;
			margin: 0 auto;
			padding: 2% 6% 4%;
		}

		padding-bottom: 5%;

		
	}

	.third {
		h2 {

			@include background(rgba($black, .4));
			padding: 2% 0;

		}

		h1 {
			color: $kick-off;
			font-size: 2.1em;
			text-align: center;
			margin: 0 auto;
			display: block;
		}
	}



	p {
		color: $white;
		text-align: justify;
		font-size: .7em;
		line-height: 1em;

	}


	.shadow {

		width: 45%;
		position: absolute;
		height: 52px;
		left: 0;
		@include background(rgba($black, .7));

	}




} //gynkana content-b

.gynkana {
	background-color: $gynkana;

	h3.fondo_blanco {
		color: $white;
	}

	.ingenio {
		background: $gynkana;
		color: $white;
		padding: 0;
		display: table;
		border-top: 2px solid $white;
		border-bottom: 2px solid $white;
		width: 100%;

		h3 {
			color: $gynkana;
			text-align: center;
			margin-bottom: 10px;
			padding: 6px;
			font-weight: bold;
			&.big {
				font-size: 1.9em;
				color: $white;
			}
		}

		p {
			font-size: 1em;
			line-height: 1.3em;
			margin:4px 5px;
		}

		.section-wrap {
			@include container();
			text-align: justify;
			display: table-row;

			section {
				display: table-cell;
				vertical-align: top;
			}

			article {
				padding: 1% 20% 1% 0;
				min-width: 350px;
			}

			section:nth-of-type(1) {
				@include span (3 of 5);
				background: {
				  image: image-url("gyncana_atm_2.jpg");
				  repeat: no-repeat;
				  position: top left;
				};

				@include background-size(cover);
				
				height: 420px;

			}

			section:nth-of-type(2) {
				@include span (2 of 5 last);
			}


		}

	}

	.second {
		padding: 10% 0;
		background: $gynkana;
		text-align: justify;
		color: $white;

		p {
			font-size: .7em;
			line-height: 1.2em;
		}

		.section-wrap {
			padding: 1% 15%;
		}


		h3 {
			color: $gynkana;
			font-size: 1.2em;
			font-weight: bold;
			text-align: center;
			margin-bottom: 10px;
		}

		span {
			text-align: right;
			font-size: .8em;
			text-style: oblique; 
			display: center;
		}
	}


	.fourth {
		background: $gynkana;
		color: $white;
		text-align: center;
		border: none;
		position: relative;
		top: -4px;
		padding: 3% 0 1%;

		h2 {
			text-transform: uppercase;
			text-align: center;
			color: $white;

		}



	}


	.eventos-nav {
		height: 277px;

		ul {
			width: 85%;
			margin-left: auto;
			margin-right: auto;
			min-width: 778px;
		}

		li {
			display: inline-block;
		}

		a {
			display: inline-block;
			//float: left;
			text-align: center;
			cursor: pointer;
			color: $white;
			background: image-url("gynkana-menu.png") no-repeat 0 0;
			width: 204px;
			height: 204px;
			margin-right: 22px;
			font-size: .7em;
			padding-top: 29px;

			&:hover {

				background: image-url("gynkana-menu.png") no-repeat 0 -263px;
				width: 204px;
				height: 204px;
				color: $gynkana;
				span {
					background: none;
				}
			}

			span {
				background: none;
			}
		}

		li:nth-of-type(1) {

			a {
				width: 204px;
			    height: 204px;
			}	

		}

		li:nth-of-type(2) {

			a {
				background-position-x: -248px;
			}	

		}

		li:nth-of-type(3) {

			a {
				background-position-x: -497px;
				margin-right: 0;

			}	

		}


	}  // eventos nav gynkana

	.end {
		background: $gynkana;
		color: $white;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 4% 0;

		h2 {
			font-weight: bold;
			color: $white;

		}

		span {
				font-size: .5em;
		}


		.contacto {
			width: 200px;
			height: 68px;
			margin: 0 auto;
			
			a {
				display: inline-block;
				width: 60px;
				height: 60px;


			}

			a:nth-of-type(1) {
				background: image-url('contacto_blanco.png') no-repeat 0 0;
				
			}

			a:nth-of-type(2) {
				background: image-url('contacto_blanco.png')  no-repeat -71px 0;
			}

			a:nth-of-type(3) {
				background: image-url('contacto_blanco.png') no-repeat -142px 0;
			}

			a:hover {
				background-position-y: -1px; 
			}
			

		}


	} // end fin

	.columnas {
		@include columns(10em 2);
	}
} // gynkana fin


// bootstrap js and more

.collapse {
  display: none;
  visibility: hidden;
}
.collapse.in {
  display: block;
  visibility: visible;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height;
       -o-transition-property: height;
          transition-property: height;
}

.instalaciones.solo {
	.cabecera {
		background: $white;

		section {
			background: $white;

			h1, .fa {
				color: $grey;
			}
		}

	}
	.info_box{
		background: $green;
		border-top: 2px solid $white;

	}

	.informacion {
		h2,span {
			color: $white;
		}
	}

	.contacto {
		a:nth-of-type(1) {
			background: image-url('contacto_blanco_160.png') no-repeat 0 0;
			
		}

		a:nth-of-type(2) {
			background: image-url('contacto_blanco_160.png')  no-repeat -59px 0;
		}

		a:nth-of-type(3) {
			background: image-url('contacto_blanco_160.png') no-repeat -113px 0;
		}

		a:hover {
			background-position-y: -1px; 
		}
	} //contacto
}

.contactar {
	.formulario {
		width: 505px;
		height: 640px;
		color: $black;
		margin-left: 100px;
		margin-top: 40px;
		padding-top: 90px;
		background: {
		  image: image-url("caja_contacto.png");
		  repeat: no-repeat;
		  position: top left;
		};

		@include background-size(cover);
		float: left;

	} // formulario

	label {
		display: block;
	    text-align:left;
	    font-size:.7em;
	    font-weight:700;
	}

	p {
		font-size: .7em;
		text-indent: 0;
	}

	option {
		font-size: .7em;
	}

	.wpcf7 {
		margin: 0 auto;
		padding: 0;
		width: 350px;	
	}


input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select, textarea, .field 
{
	display: block;
	height: 24px;
	/* line-height: 40px; */
	padding: 0 12px;
	margin-bottom: 6px;
	font-size: .6em;
	color: #5c6b80;
	border-radius: 3px;
	vertical-align: top;
	box-shadow: none;
	border: 0;
	width: 100%;
	max-width: 350px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: $white;
	-webkit-transition: background-color 0.24s ease-in-out;
	transition: background-color 0.24s ease-in-out;
	}	


	input.inline {
		width: 172px;
		display: inline-block;
	}

	input.wpcf7-submit {
		border-radius: 30px;
		background: $white;
		font-size: .6em;
	}

	span.blanco {
		display: inline;
		color: $white;
		text-shadow: 2px 2px $grey;
	}

	textarea {
		height: 40px;
	}

	.datos_contacto {
		width: 320px;
		float: left;
		color: $white;
		text-align: center;
		img {
			width: 100%;
		}

		.wrapper-datos {
			width: 80%;
			padding: 160px 0 0 20px; 
			margin: 0 auto;

			p {
				display: block;
				text-align: center;
			}
		}

		h3 {
			font-size: 1.9em;
			display: block;
			width: 100%;
			color: $white;
		}
	} //datos contactao

}

.avisos {
	.panel {
		width: 100%;
		height: 480px;
		padding-top: 60px;
		overflow: hidden;

		p {
			display: block;
			width: 85%;
			margin: 0 auto;
			color: $white;
			font-size: .6em;
			line-height: 1.8em;

		}

		.legal {
			width: 640px;
			height: 304px;
			margin: 0 auto;
			padding-top: 43px;
			background: {
			  image: image-url("marco_legal.png");
			  repeat: no-repeat;
			  position: top left;
			};
			@include background-size(cover);
		}

		.entry-content {
			width: 640px;
			height: 245px;
			overflow-y: scroll;
			padding-top: 20px;
			

			
		}

		.cerrar {
			display: block;
			height: 40px;
			width: 40px;
			background: {
			  image: image-url("up_avisos.png");
			  repeat: no-repeat;
			  position: top left;
			};
			@include background-size(cover);
			margin: 10px auto;
		}
	} // panel


} // avisos


.mapaweb {


	.panel {
		width: 100%; 
		height: 300px;
		padding-top: 10px;
		// overflow: hidden;
		border-top: 2px solid $paleryellow;
		background: {
			  image: image-url("fondo_avisos.jpg");
			  repeat: no-repeat;
			  position: top left;
			};
			@include background-size(cover);

		ul a {
			display: block;
			width: 85%;
			margin: 0 auto;
			color: $paleryellow;
			font-size: .6em;
			line-height: 1.8em;

		}


		li {
			ul {
				margin: 0;
				a {
					color: $white;
					padding-left: 20px;
				}

			}
		}


		.mapa {
			margin: 0 auto;
			@include gallery(1 of 3);

		}


		.cerrar {
			display: block;
			height: 40px;
			width: 40px;
			background: {
			  image: image-url("up_avisos.png");
			  repeat: no-repeat;
			  position: top left;
			};
			@include background-size(cover);
			margin: 10px auto;
		}

		.map_container {
			padding: 10px 10x0px;
		}
	} // panel


} // mapaweb

