//----------full background
/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}


/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
    position:relative;
    width:100%;
    height:auto;
    overflow: hidden;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    max-width: none;
}
.nivo-main-image {
    display: block !important;
    position: relative !important; 
    width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
    background:white; 
    filter:alpha(opacity=0); 
    opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
    top:0;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
    overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
    position:absolute;
    text-align: center;
    left:0px;
    top: 50px;
    @include breakpoint($smallscreen) {
        top: 190px;
    }

    bottom:0px;
    color:#fff;
    width:100%;
    z-index:8;
    padding: 5px 10px;
    opacity: 1;
    overflow: hidden;
    display: none;
    -moz-opacity: 1;
    filter:alpha(opacity=9);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    -webkit-transition:200ms ease;
    -moz-transition:200ms ease;
    -o-transition:200ms ease;
    transition:200ms ease;
}
.nivo-caption p {
    padding:5px;
    margin:0;
}
.nivo-caption a {
    display:inline-block !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    position:absolute;
    top:75%;
    z-index:11;
    cursor:pointer;
}
.nivo-prevNav {
    left:20%;
}
.nivo-nextNav {
    right:20%;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
    text-align:center;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 77%;
    margin: 0 auto;
    z-index: 10;

}

.nivo-controlNav a {
    display:inline-block;
    width:40px;
    height:2px;
    background:rgba($white, .5);
    text-indent:-9999px;
    border:0;
    margin: 0 2px;
}

.nivo-controlNav a {
    cursor:pointer;

}
.nivo-controlNav a.active {
    font-weight:bold;
    background: $white;
}

/*
 * simplyScroll 2 - a scroll-tastic jQuery plugin
 *
 * http://logicbox.net/jquery/simplyscroll
 *
 * Copyright (c) 2009-2012 Will Kelly - http://logicbox.net
 *
 * Dual licensed under the MIT and GPL licenses.
 *
 * Last revised: 31/01/2012
 *
 */

/* Default/Master classes 

Example markup format (for horizontal scroller)
Note all DIVs are generated and should not be hard-coded

<div class="your-custom-class simply-scroll-container">
    <div class="simply-scroll-btn simply-scroll-btn-left"></div>
    <div class="simply-scroll-btn simply-scroll-btn-right"></div>
    <div class="simply-scroll-clip">
        <ul class="simply-scroll-list">
            <li>...</li>
            ...
        </ul>
    </div>
</div>


*/

.simply-scroll-container { /* Container DIV - automatically generated */
    position: relative;
}

    .simply-scroll-clip { /* Clip DIV - automatically generated */
        position: relative;
        overflow: hidden;
    }

    .simply-scroll-list { /* UL/OL/DIV - the element that simplyScroll is inited on */
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
        .simply-scroll-list li {
            padding: 0;
            margin: 0;
            list-style: none;
        }
    
        .simply-scroll-list li img {
            border: none;
            display: block;
        }
    
    .simply-scroll-btn {
        position: absolute;
        background: {
            image: image-url("buttons.png");
        }
        width: 42px;
        height: 44px;
        z-index:3;
        cursor: pointer;
    }
    
    .simply-scroll-btn-left {
        left: 6px;
        bottom: 6px;
        background-position: 0 -44px;
    }
    .simply-scroll-btn-left.disabled {
        background-position: 0 0 !important;
    }
    .simply-scroll-btn-left:hover, .simply-scroll-btn-left:focus {
        background-position: 0 -88px;
    }
    
    .simply-scroll-btn-right {
        right: 6px;
        bottom: 6px;
        background-position: -84px -44px;
    }
    .simply-scroll-btn-right.disabled {
        background-position: -84px 0 !important;
    }
    .simply-scroll-btn-right:hover, .simply-scroll-btn-right:focus {
        background-position: -84px -88px;
    }
    
    .simply-scroll-btn-up {
        right: 6px;
        top: 6px;
        background-position: -126px -44px;
    }
    .simply-scroll-btn-up.disabled {
        background-position: -126px 0 !important;
    }
    .simply-scroll-btn-up:hover, .simply-scroll-btn-up:focus {
        background-position: -126px -88px;
    }
    
    .simply-scroll-btn-down {
        right: 6px;
        bottom: 6px;
        background-position: -42px -44px;
    }
    .simply-scroll-btn-down.disabled {
        background-position: -42px 0 !important;
    }
    .simply-scroll-btn-down:hover, .simply-scroll-btn-down:focus {
        background-position: -42px -88px;
    }
    
    .simply-scroll-btn-pause {
        right: 6px;
        bottom: 6px;
        background-position: -168px -44px;
    }
    .simply-scroll-btn-pause:hover, .simply-scroll-btn-pause:focus {
        background-position: -168px -88px;
    }
    
    .simply-scroll-btn-pause.active {
        background-position: -84px -44px;
    }
    .simply-scroll-btn-pause.active:hover, .simply-scroll-btn-pause.active:focus {
        background-position: -84px -88px;
    }

/* Custom class modifications - override classees

.simply-scroll is default

*/

.simply-scroll { /* Customisable base class for style override DIV */
    width: 576px;
    height: 200px;
    margin-bottom: 1em;
}

    .simply-scroll .simply-scroll-clip {
        width: 576px;
        height: 200px;
    }
    
        .simply-scroll .simply-scroll-list {}
        
        .simply-scroll .simply-scroll-list li {
            float: left;
            width: 290px;
            height: 200px;
        }
        .simply-scroll .simply-scroll-list li img {}
    
    .simply-scroll .simply-scroll-btn {}
    
    .simply-scroll .simply-scroll-btn-left {}
    .simply-scroll .simply-scroll-btn-left.disabled {}
    .simply-scroll .simply-scroll-btn-left:hover {}
    
    .simply-scroll .simply-scroll-btn-right {}
    .simply-scroll .simply-scroll-btn-right.disabled {}
    .simply-scroll .simply-scroll-btn-right:hover {}
    
    .simply-scroll .simply-scroll-btn-up {}
    .simply-scroll .simply-scroll-btn-up.disabled {}
    .simply-scroll .simply-scroll-btn-up:hover {}
    
    .simply-scroll .simply-scroll-btn-down {}
    .simply-scroll .simply-scroll-btn-down.disabled {}
    .simply-scroll .simply-scroll-btn-down:hover {}
    


/* Vertical scroller example */

.vert { /* wider than clip to position buttons to side */
    width: 340px;
    height: 400px;
    margin-bottom: 1.5em;
}

    .vert .simply-scroll-clip {
        width: 290px;
        height: 400px;
    }
    
        .vert .simply-scroll-list {}
        
        .vert .simply-scroll-list li {
            width: 290px;
            height: 20px;
        }
        .vert .simply-scroll-list li img {}
    
    .vert .simply-scroll-btn {}

    .vert .simply-scroll-btn-up { /* modified btn pos */
        right: 0;
        top: 150px;
    }
    .vert .simply-scroll-btn-up.disabled {}
    .vert .simply-scroll-btn-up:hover {}
    
    .vert .simply-scroll-btn-down { /* modified btn pos */
        right: 0;
        top: 200px;
    }
    .vert .simply-scroll-btn-down.disabled {}
    .vert .simply-scroll-btn-down:hover {}
    
    /* NOTE left-right classes wouldn't be needed on vertical scroller */


// Modal

.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

